body {
	font-size: 11pt;
	font-family:Verdana;
	width:80%;
	margin:15px auto;
	background-color:#0f586a;
	color:#fff;
}

a {
	color:#0f586a;
}

a:visited {
	color:#b6752e;
}

a:hover {
	color:#568D9A;
}

section#page {
	background-color:#24849E;
	border:0.2em solid #FFF;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	display:block;
}

header#page_header {
	display:block;
}

header#page_header img{
	margin:2em;
}

header#page_header nav ul, #page_footer nav ul {
	list-style:none;
	padding: 0;
	margin: 0;
}

header#page_header nav ul li, #page_footer nav ul li {
	padding:0;
	margin:0 0.5em 0 0;
	display:inline;
}


header#page_header nav {
	background-color:#fafafa;
	display:block;
	padding:0.3em;
	text-align: center;
}


#adresse , #cr{
	font-size:xx-small;
	display:inline;
	border-left:0.1em solid #AAA;
	
}

section#main_section {
	display:block;
	background-color:#fafafa;
	color:#444;
}

#page_footer {
	border-top:0.1em solid #fff;
	margin-top:0;
	display:block;
	clear:both;
	font-size: smaller;
	text-align:center;
}

#clear {
	clear:both;
}


