body {
	font-size: 12pt;
	font-family:Tahoma,sans-serif;
	width:80%;
	margin:15px auto;
	background-color:#222;
	color:#ccc;
}


h1 {
	margin:0.3em 0.6em;
	margin-bottom:1em;
	padding:0.2em;
	border-bottom:0.2em solid #24849E;
}

h2 {
	margin:0;
	color:#333;
	background-color:#EEE;
	border-bottom: 0.2em solid #B2B3B3;
	padding: 0.3em;
	
}

a {
	color: #E36500;
	text-decoration:none;
}

a:hover {
	text-decoration: underline;
}

p {
	margin-left:1em;
}

section#page {
	background-color:#24849E;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	display:block;
}

header#page_header {
	display:block;
}

header#page_header img{
	margin:0.5em 1em;
}

header#page_header nav ul, #page_footer nav ul {
	list-style:none;
	padding: 0;
	margin: 0;
}


header#page_header nav ul li, #page_footer nav ul li {
	padding:0;
	margin:0 0.5em 0 0;
	display:inline;
}

header#page_header nav {
	margin-top:3em;
	float:right;
}

header#page_header nav li{
}

header#page_header nav li a{
	color: #E36500;
	background-color:#fff;
	padding:0.5em 1em;
	-webkit-border-radius:0.7em;
	-moz-border-radius:0.7em;
}

header#page_header nav li a:hover {
	color:#fff;
	background-color: #E36500;
}

#mobile_button{
	display:none;
}

section#main_section {
	display:block;
	background-color:#FAFAFA;
	border-top: 0.3em solid #B3B3B3;
	border-bottom: 0.1em solid #B3B3B3;
	color:#222;
}

section#main_section ul{
	list-style: square;
	font-size:small;
	margin-left: 2em;
}

article {
	margin: 1em 3em;
	border: 0.1em solid #B2B3B3;
	display:block;
	overflow:auto;
}


aside{ 
	width:35%;
	float:right;
	margin:0.3em;
	padding:0.7em;
	font-style:italic;
	font-size:smaller;
	background-color: #EEE;
	-webkit-border-radius:0.5em;
	-moz-border-radius:0.5em;
}

article section{
	padding:1em;
	font-size:85%;
}

article img {
	float:left;
	margin:1em;
}

#page_footer {
	display:block;
	clear:both;
	font-size: smaller;
	text-align:center;
}

#page_footer a{
	color: #fff;
	text-decoration:underline;

}

#adresse , #cr{
	display:inline;
	font-size:xx-small;
	padding: 1em;
}

#adresse {
	float:right;
	text-align:left;
}

#cr {
	float:left;
}

.clear {
	clear:both;
}

.adr {
	margin-left: 0.5em;
}
#org {
	font-weight:bolder;
}

.vcard {
	margin:1em;
	padding: 0.5em;
}


#andreas-neumann {
	border:0.1em solid #333;
	margin:2em;
}

#karte {
	margin: 1em;
}

#like_buttons {
	text-align:left;
	float:right;
	margin-right:1em;
}

#like_buttons li {
	list-style:none;
}

.projectPicture {
	float:right;
}

