body {
	font-size: 11pt;
	font-family:Tahoma;
	width:80%;
	margin:15px auto;
	background-color:#111;
	color:#ccc;
}

a {
	color:#E36500;
}

a:visited {
	color:#b6752e;
}

a:hover {
	background-color: #E36500;
	color:#fff;
}

h1 {
	margin:0.3em 0.6em;
	background-color:#E36500;
	color:#fff;
	padding:0.3em;
	-moz-border-radius-topleft: 1em;
	-moz-border-radius-bottomright: 1em;
}

h2 {
	color:#333;
	margin:0 1em;
	border-bottom: 0.2em solid #555;
}

section#page {
	background-color:#24849E;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
	border: 0.1em solid #B4B3B3;
	display:block;
}

header#page_header {
	display:block;
}

header#page_header img{
	margin:2em;
}

header#page_header nav ul, #page_footer nav ul {
	list-style:none;
	padding: 0;
	margin: 0;
}

header#page_header nav ul li, #page_footer nav ul li {
	padding:0;
	margin:0 0.5em 0 0;
	display:inline;
}

header#page_header nav {
	background-color:#f4f4f4;
	display:block;
	padding:1em;
	text-align: center;
	border-top: 0.3em solid #B3B3B3;
}

section#main_section {
	display:block;
	background-color:#98bfc9;
	border-top: 0.3em solid #B3B3B3;
	border-bottom: 0.1em solid #B3B3B3;
	color:#222;
}

#page_footer {
	display:block;
	clear:both;
	font-size: smaller;
	text-align:center;
}

#page_footer a{
	color: #fff;

}

#adresse , #cr{
	font-size:xx-small;
	display:inline;
	
}

#clear {
	clear:both;
}


