<div id="karte">
<%= image_tag("http://maps.google.com/maps/api/staticmap?center=Deutschland,85635,Wagerstraße 10&zoom=12&size=400x400&maptype=roadmap&sensor=false&markers=color:red|label:A|Deutschland,85635,Wagerstraße 10") %>
</div>