%section{:id => 'like_buttons'}
	%ul
		%li
			%g:plusone
		%li
			%a{ :href=>'http://twitter.com/share', :class=>'twitter-share-button', :data_count=>"none", :data_via=>"andreas_neumann"} Tweet
		%li
			#fb-root
			%fb:like{:href=>'an-it.com' , :send=>"false", :layout=>"button_count", :width=>"", :show_faces=>"true", :font=>"verdana"}
.clear