%h1 Expertise
%article
	%header
		%h2 Webentwicklung (Web Development)
	%ul
		%li Webentwicklung mit aktuellen Standards wie: HTML 5, CSS 3, jQuery, Ruby on Rails 3 und Lift.
		%li Entwicklung mobiler Webanwendungen für iPhone, Android und Smartphones.
		%li Anpassen vorhandener Webseiten und Webanwendungen für iPhone, Android und Smartphones.
		%li Suchmaschinenoptimierung (SEO)
%article
	%header
		%h2 Anwendungsentwicklung im bibliothekarischen Umfeld (Library Development)
	%ul
		%li Datenanreicherung und Mashups für OPACs (u.a. Worldcat API, Librarything, Wikipedia, Googlebooks)
		%li performante Verarbeitung großer Datenmengen
		%li Suchmaschinentechnik (FAST, Lucene)
		%li Präsentation und Verarbeitung von Volltexten
		%li Suche in historischen Texten
		%li Erfahrung mit OCLC Infoguide und OCLC Touchpoint
		%li OCR