%h1 Andreas Neuman IT - AN-iT
%article
	%header
		%h2 Andreas Neumann M.A.
		=image_tag 'Andreas-Neumann-small.png' ,{:id => 'andreas-neumann'}
		%ul
			%li Beratung / Consulting
			%li Schulungen und Vorträge zum Thema soziale Netzwerke, mobile Development, Webdesign und Programmierung
			%li Anwendungsentwicklung mit Scala, Java oder Ruby
			%li Konzeption, Design, Hosting und Durchführung von Webauftritten
		%p
			mehr zu meiner Person finden Sie unter:
			=link_to 'www.neumann.biz', 'http://www.neumann.biz/cv', :rel => 'nofollow'
%article
	%header
		%h2 Webentwicklung (Web Development)
	%ul
		%li Webentwicklung : HTML 5, CSS 3, jQuery, Ruby on Rails 3, Sinatra, Lift
		%li Entwicklung mobiler Webanwendungen für iPhone, Android und Smartphones.
		%li Anpassen vorhandener Webseiten und Webanwendungen für iPhone, Android und Smartphones.
		%li Suchmaschinenoptimierung
%article
	%header
		%h2 Anwendungsentwicklung im bibliothekarischen Umfeld (Library Development)
	%ul
		%li Datenanreicherung und Mashups für OPACs (u.a. Worldcat API, Librarything, Wikipedia, Googlebooks)
		%li performante Verarbeitung großer Datenmengen
		%li Suchmaschinentechnik
		%li Präsentation und Verarbeitung von Volltexten
		%li Suche in historischen Texten
		%li Erfahrung mit OCLC Infoguide und OCLC Touchpoint
		%li OCR
