%h1 Andreas Neuman IT - AN-iT
%article
	%header
		%h2 Andreas Neumann M.A.
		=image_tag 'Andreas_Neumann.jpg' ,{:id => 'andreas-neumann'}
		%aside
			Sie können mich als Freelancer buchen.
		%h3 
			Buchen sie mich für:
		%ul
			%li Schulungen
			%li Vorträge
			%li Konzeption, Design, Hosting und Durchführung von Webauftritten
			%li Entwicklung bibliothekarischer Anwendungen
		%p
			mehr zu meiner Person finden Sie unter:
			=link_to 'www.neumann.biz', 'http://www.neumann.biz/cv', :rel => 'nofollow'
%article
	%header
		%h2 Webentwicklung (Web Development)
	%ul
		%li Webentwicklung mit aktuellen Standards wie: HTML 5, CSS 3, jQuery, Ruby on Rails 3 und Lift.
		%li Entwicklung mobiler Webanwendungen für iPhone, Android und Smartphones.
		%li Anpassen vorhandener Webseiten und Webanwendungen für iPhone, Android und Smartphones.
		%li Suchmaschinenoptimierung (SEO)
%article
	%header
		%h2 Anwendungsentwicklung im bibliothekarischen Umfeld (Library Development)
	%ul
		%li Datenanreicherung und Mashups für OPACs (u.a. Worldcat API, Librarything, Wikipedia, Googlebooks)
		%li performante Verarbeitung großer Datenmengen
		%li Suchmaschinentechnik (FAST, Lucene)
		%li Präsentation und Verarbeitung von Volltexten
		%li Suche in historischen Texten
		%li Erfahrung mit OCLC Infoguide und OCLC Touchpoint
		%li OCR