%h1 Andreas Neuman IT - AN-iT
%article
	%header
		%h2 Andreas Neumann M.A.
		=image_tag 'Andreas-Neumann-small.png' ,{:id => 'andreas-neumann'}
		%ul
			%li Beratung / Consulting
			%li Schulungen und Vorträge zum Thema mobile Development, Webdesign und Programmierung
			%li Anwendungsentwicklung mit Scala, Java oder Ruby
			%li Konzeption, Design, Hosting und Durchführung von Webauftritten
		%p
			mehr zu meiner Person finden Sie unter:
			=link_to 'www.neumann.biz', 'http://www.neumann.biz/cv', :rel => 'nofollow'
%article
	%header
		%h2 Schwerpunkte
	%ul
		%li Webentwicklung : HTML 5, CSS 3, jQuery, Ruby on Rails 3, Sinatra, Lift
		%li Microservices und verteilte System: Akka, REST		
		%li Suchmaschinentechnik
		%li Berabeitung und Präsentation von OCR-Dokumenten
		%li Semantische Analyse und Datenextraktion aus Texten

%article
	%header
		%h2 Verfügbarkeit
	%p Bis auf weiteres bin ich leider völlig ausgelastet und kann keine weiteren Projekte mehr annehmen.

