%fieldset
	%legend HTML 5 Formular
	%p
		%label text
		%input{:type => 'text' , :placeholder => 'etwas Text'}
	%p
		%label email
		%input{:type => 'email', :placeholder => 'mail@exaple.com'}
	%p
		%label url
		%input{:type => 'url', :placeholder => 'http://www.an-it.com'}
	%p
		%label tel
		%input{:type => 'tel', :placeholder => '+49891234567'}
	%p
		%label date
		%input{:type => 'date'}
	%p
		%label color
		%input{:type => 'color'}