%h1 Kontakt
%h2 Anschrift
#hcard-Andreas-Neumann{:class =>'vcard'}
	.fn Andreas Neumann
	#org AN-iT
	.email{:href=> 'mailto:andreas.neumann@an-it.com">andreas.neumann@an-it.com'}
	.adr
		.street-adress Wagerstraße 10
		.postal-code 85635
		.locality Höhenkirchen
		.contry-name Deutschland
%h2 Anfahrt
=render 'shared/google_maps'
