%h1 Kontakt
%article
	%header 
		%h2 Anschrift
	#hcard-Andreas-Neumann{:class =>'vcard'}
		.fn Andreas Neumann
		#org AN-iT
		.adr
			.street-adress Wagerstraße 10
			.postal-code 85635
			.locality Höhenkirchen
			.contry-name Deutschland
		#tel	
			Tel.:	
			%a{ 'href' => 'tel:+49-176-811-43664'}
				+49 176 811 43664
		#email
			Email:
			=mail_to 'info@an-it.com'
		
		
%article
	%header
		%h2 Anfahrt
	=render 'shared/google_maps'
