%h1 Kontakt
%article
	%header 
		%h2 Anschrift
	#hcard-Andreas-Neumann{:class =>'vcard'}
		.fn Andreas Neumann
		#org AN-iT
		.adr
			.street-adress Wagerstraße 10
			%div
				%span{:class =>'postal-code'} 85635
				%span{:class =>'locality'} Höhenkirchen-Siegertsbrunn
			.contry-name Deutschland
%article
	%header
		%h2 Telefon und Email
	%section
		%p
			%strong Tel.:
			%a{ 'href' => 'tel:+49-176-811-43664'}
				+49 176 811 43664
		%p
			%strong Email:
			=mail_to 'info@an-it.com'
		
%article
	%header
		%h2 Anfahrt
	=render 'shared/google_maps'	
