%h1 
	Projekte
%article
	%header
		%h2 
			=link_to 'OPACplus mobil', 'http://opacplus.bsb-muenchen.de'
			der
			=link_to 'Bayerischen Staatsbibliothek', 'http://www.bsb-muenchen.de'
		%aside
			Der OPACplus mobil ist eine offizielle
			=link_to 'Apple Web Application', 'http://www.apple.com/webapps/searchtools/bayerischestaatsbibliothekopacplusmobil.html'
		%section
			%br Unter Beibehaltung der bestehenden Infrastruktur und mit einem wartungsneutralem Plugin wird die OPAC-Software dahingehend optimiert, dass eine speziell für Smartphones zugeschnittene Ansicht erzeugt wird. 
			%br Das Plugin basiert auf CSS und Javascript-Techniken und unterstützt Apple iPhone, Apple iPad, alle Android-Smartphones, Opera Mobile, Opera Mini und den Internet Explorer Mobile.