%h1 
	Projekte
%article
	%header
		%h2 
			=link_to 'OPACplus mobil', 'http://opacplus.bsb-muenchen.de', :rel => 'nofollow'
			der
			=link_to 'Bayerischen Staatsbibliothek', 'http://www.bsb-muenchen.de', :rel => 'nofollow'
	%aside
		%br 
			Der OPACplus mobil ist eine offizielle
			=link_to 'Apple Web Application', 'http://www.apple.com/webapps/searchtools/bayerischestaatsbibliothekopacplusmobil.html', :rel => 'nofollow'
	%section
		=image_tag 'apple-web-app.png' , :class => 'projectPicture'
		%p Unter Beibehaltung der bestehenden Infrastruktur und mit einem wartungsneutralem Plugin wird die OPAC-Software dahingehend optimiert, dass eine speziell f체r Smartphones zugeschnittene Ansicht erzeugt wird. 
		%p Das Plugin basiert auf CSS und Javascript-Techniken und unterst체tzt Apple iPhone, Apple iPad, alle Android-Smartphones, Opera Mobile, Opera Mini und den Internet Explorer Mobile.
%article
	%header
		%h2
			Stadbibliothek Bremen: 
			=link_to 'OPAC mobil', 'http://opac.stadtbibliothek.bremen.de/webOPACClient/start.do', :rel => 'nofollow'
		%section
			=image_tag'stadtbibliothek-bremen-mobil.png', :class => 'projectPicture'
			%p Beratung bei der Einrichtung mobilen Version des OPACs der Stadtbibliothek Bremen. 
			%p Erstellen und Design der Grafiken f체r die iPhone-Web-App.
%article
	%header
		%h2
			Ruhr-Universit채t Bochum:
			=link_to 'RUBopac mobil', 'http://opac.ub.ruhr-uni-bochum.de/', :rel => 'nofollow'
		%section
			=image_tag 'ub-bochum-mobile.png', :class => 'projectPicture'
			%p Beratung bei der Einrichtung der mobilen Version des RUBopac. 