%h1 
	Vorträge 2011
%article
	%header
		%h2 
			Mobile OPACs - Perspektiven und Chancen.
	%aside
		&quot; Tablets, zwischen Smartphone und Desktopsystem. Großes Display, wie ein Desktopsystem, aber Bedienkonzepte aus der Smartphone-Welt. &quot;
	%section
		%p 
			Der Vortrag wurde im Rahmen des 
			=link_to '3. Schweizer OCLC-Infotags', 'http://www.oclc.org/de/de/enews/2011/20/de_03.htm',  :rel => 'nofollow'
			gehalten.
		%p
			Inhalte des Vortrags sind:
			%ol
				%li Besonderheiten mobiler Geräte
				%li Anforderungen an eine mobile Anwendung. Was wollen Nutzer, was wollen Bibliotheken.
				%li Vergleich: App, WebApp, Neuentwicklung, Anpassung einer bestehenden Anwendung
				%li Umsetzung eines mobilen OPACs: Das Paket "Mobile OPAC"
				%li Beispiel: OPACplus mobile der Bayerischen Staatsbibliothek
				%li Neue Möglichkeiten, smartphoneoptimierte Anwendungen
				%li Marktwntwicklung Smartphones: 2010 zu 2011
				%li Ausblick auf OPACs auf Tablet PCs (iPad, Android Honeycomb)
		=render :partial =>'shared/download_file', :locals => {:file => 'vortrag/Mobile_OPACs-Perspektiven_und_Chancen.pdf'}
		.clear
		%p
			Die Videos zu den Folien:
			%ul
				%li=link_to 'Folie 37 - Recherche im mobile OPAC', 'vortrag/video/OPACplus mobil - Recherche.m4v'
				%li=link_to 'Folie 38 - optimierter Bestellvorgang für Smartphones', 'vortrag/video/OPACplus mobil - Bestellvorgang.m4v'
				%li=link_to 'Folie 39 - Mehrsprachigkeit und Kontoverwaltung', 'vortrag/video/Kontoverwaltung_Mehrsprachigkeit.m4v'
				%li=link_to 'Folie 40 - Mashups - Wikipedia, Twitter, GoogleBooks', 'vortrag/video/Mashups.m4v'
				%li=link_to 'Folie 41 - Digitalisate auf dem Smartphone', 'vortrag/video/Digitalisate.m4v'
				%li=link_to 'Folie 53 - Locations Based Service - Erste Schritte Richtung Augmented Reality', 'vortrag/video/LBS.m4v'

%h1 
	Vorträge 2010
%article
	%header
		%h2 
			Mobile OPACs - Bayerische OPACs immer und überall.
	%aside
		&quot; Mobile OPACs in Bayern 21. In der Schweiz 1. &quot;
	%section
		%p 
			Der Vortrag wurde im Rahmen der Verbundkonferenz des 
			=link_to 'Bibliotheks Verbunds Bayeren (BVB)', 'http://www.bib-bvb.de/', :rel => 'nofollow'
			gehalten.
		%p
			Inhalte des Vortrags sind:
			%ol
				%li Anforderungen an einen mobilen OPAC
				%li Das Paket Mobile OPAC, Beschreibung und Arbeitsweise
				%li Der OPACplus mobil der Bayerischen Staatsbibliothek
				%li Der mobile OPAC des Gateway Bayern
				%li Mobile OPACs in Bayern
		=render :partial =>'shared/download_file', :locals => {:file => 'vortrag/MobilerOPAC_Verbundkonferenz_2010.pdf'}

%article 
	%header
		%h2 
			Der mobile OPAC der bayerischen Staatsbibliothek
	%section
		%p 
			Der Vortrag wurde zuerst auf dem Bibliothekarstag 2010 in Leipzig am Stand der Zukunftswerkstatt gehalten.
			In erweiterter Form wurde der Vortag dann auf der
			=link_to 'InetBib 2010', 'http://www.ub.tu-dortmund.de/inetbib2010/', :rel => 'nofollow'
			am 14.05.2010 im Audimax der ETH Zürich gehalten.
		%p
			Inhalte des Vortrags sind:
			%ol
				%li Anforderung an eine mobile Anwendung
				%li App, WebApp - Neuentwicklung oder Anpassung
				%li Umsetzung : Der OPACplus mobil der Bayerischen Staatsbibliothek
		=render :partial =>'shared/download_file', :locals => {:file => 'vortrag/MobilerOPAC_InetBib_2010.pdf'}