%h1 Vorträge 2012
%article
	%header
		%h2 Scala Workshop - Bayerische Staatsbibliothek
	%section
		%p
			Der Workshop fand im Stabsreferat Informationstechnologie der
			=link_to 'Bayerischen Staatsbibliothek','http://www.bsb-muenchen.de/', :rel => 'nofollow'
			statt zur Übergabe der VTA2 statt.
		%p
			Der Workshop bietet eine Einführung in Benutzung der Programmiersprache
			=link_to 'Scala','http://www.scala-lang.org/', :rel => 'nofollow'
			\.
			Viele Teile des Workshops können life in der REPL nachvollzogen werden.
			Im Detal werden folgende Themen behandelt: 
			%ol
				%li Was ist Scala
				%li Scala, a SCAlable LAnguage: kompiliert, als Scriptsprache und im REPL
				%li Scala Basics: vals, var, Funktionen, Syntaxregeln
				%li Objektorientierung in Scala: class, object, trait
				%li Funktionale Elemente in Scala: case classes, pattern matching, Extractors, Funktional und Imperativ, ein Vergleich
				%li Fortgeschrittene Sprachelemente: XML-Literale und XML-Bearbeitung, For-Comprehensions, Parallele Collections, Implicits, eigene Kontrollstrukturen definieren, Class composition mit Traits
				%li Scala Bibliotheken Anwenden: Reguläre Ausdrücke, Asynchrone Parallelität mit Aktoren
				%li 
					Scala Tooling: Das Build-Tool
					%strong sbt
					,
					Scala Vorlagen mit
					%strong g8
					,
					BDD- Tests mit
					%strong specs2
			%p=link_to 'Quelltexte zum Workshop', 'vortrag/sources/scala-workshop-sources.zip'
			
		=render :partial =>'shared/download_file', :locals => {:file => 'vortrag/Scala-Workshop-BSB-2012.pdf'}

		
		

%article
	%header
		%h2 Soziale Netzwerke effektiv Nutzen am Beispiel von Facebook, Twitter und Google
	%section
		%p
			Der Vortrag wurde an der 
			=link_to 'Bibliotheksschule der Bayerischen Staatsbibliothek','http://www.bib-bvb.de/bib_schule/bib_sch1.htm', :rel => 'nofollow'
			gehalten. Im Fokus stehen der effektive Umgang mit sozialen Netzwerken im Arbeitsalltag, Privatsphäre und Sicherheit.
		%p
			Der Vortrag gliedert sich in zwei große Blöcke mit folgenden Inhalten:
			%ol
				%li
					%p Block: Soziale Netzwerke als Privatanwender nutzen
					%ul
						%li Hintergründe
						%li Vorstellung der bekanntesten Vertreter
						%li Liveteile: Facebook und Twitter nutzen
						%li Privatsphäre und Sicherheit: Was ist zu beachten ?
				%li
					%p Block: Soziale Netzwerke im Arbeitsaltag und in der Institution nutzen
					%ul
						%li Fachkommunikation
						%li Soziale Netzwerke als Recruiting Instrument
						%li Firmenseiten / Firmenprofile
						%li Special-Interest-Netzwerke als Tools für den Arbeitsalltag
			
	
		=render :partial =>'shared/download_file', :locals => {:file => 'vortrag/Soziale-Netzwerke-effektiv-nutzen.pdf'}
%h1 
	Vorträge 2011
%article
	%header
		%h2 
			Soziale Netzwerke - Bezirksjugendwerk der AWO Westliches Westfalen 
	%aside
		&quot; Facebook bietet alle Möglichkeiten um die eigene Privatsphäre zu schützen. Leider sind die Voreinstellungen mangelhaft und die Menüführung der Sicherheitseinstellungen komplex und wiedersprüchlich. &quot;
	%section
		%p 
			Der Workshop wurde im Rahmen einer Fortbildung des
			=link_to 'Bezirksjugendwerk der AWO Westliches Westfalen', 'https://www.facebook.com/bjwww',  :rel => 'nofollow'
			gehalten. Schwerpunkt ist der sichere und effektive Umgang mit Facebook, sowohl als Privatperson wie auch als Institution.
		%p
			Der Vortrag bietet:
			%ol
				%li 
					Einen Überblick über soziale Netzwerke und deren Funktionsweisen
					%ul
						%li Geschichte
						%li prinzipielle Funktionsweisen, typische Komponenten
						%li Überblick über bekannte Vertreter: Facebook, Twitter, Google+ , Foursquare und Youtube
				%li 
					Live-Teile / Übungen
					%ul
						%li Twitter: Einstieg in die Welt sozialer Netzwerke
						%li Facebook: Richtig anmelden
						%li Facebook: Erstellen eines Profils
						%li Facebook effektiv und sicher Nutzen mit Listen und Gruppen
						%li Facebook: Erstellen einer Veranstaltung
						%li Facebook: Erstellen einer Firmenseite / Fan-Page
				%li
					Privatsphäre, Sicherheit und Verhalten bei Problemen
					%ul
						%li Was sind personenbezogene Daten ?
						%li Grundsätzliche Gefahren im öffentlichen Raum
						%li Wie schütze ich meine Privatsphäre ?
						%li Wie verhalte ich mich bei Belästigung und Problemen in sozialen Netzwerken?
						%li Facebook: Konto- und Sicherheitseinstellungen
						%li Facebook: Blocken, Melden, Sperren oder miteinander reden. Möglichkeiten auf Belästigungen bei Facebook zu reagieren.
				%li
					Alternativen zu einigen Facbook-Funktionen
					%ul
						%li Terminabstimmung mit Doodle
						%li Medien teilen: Flickr und Youtube
						%li Aktuelle Meldungen mit Twitter
						
						

		=render :partial =>'shared/download_file', :locals => {:file => 'vortrag/Soziale-Netzwerke-AWO-BJWWW.pdf'}

%article
	%header
		%h2 
			Web 2.0 in Bibliotheken
	%aside
		&quot;Bibliotheken schaffen es bis jetzt nicht die kritische Masse an Nutzern zur aktiven Beteiligung an eigenen Projekten zu bewegen. Was tun? &quot;
	%section
		%p 
			Der Vortrag wurde im Rahmen der Fortbildung
			=link_to 'Web 2.0 und Bibliothek', 'http://www.bsb-muenchen.de/Web-2-0-und-Bibliothek.3060.0.html',  :rel => 'nofollow'
		%p
			Inhalte des Vortrags sind:
			%ol
				%li Ein exemplarischer Einblick in eine Web2.0-lastige Bibliotheksanwendung 
				%li
					Typische Web2.0 Features in bibliotheksnahen Anwendungen und Anwendungen für bibliophile Nutzer, wie:
					%ul
						%li Tagging
						%li Rating / Bewertungen / Renzensionen
						%li Empfelungssysteme auf crwodsourcing-basis
						%li deep information / besondere Informationen
				%li
					Spezielle Aspekte, wie
					%ul
						%li Geoinformationen
						%li mobile Versionen der Kataloge
				%li
					Quellen für Mashups
					%ul
						%li Überblick
						%li mit Links im Vortrag
					
		=render :partial =>'shared/download_file', :locals => {:file => 'vortrag/Web20_in_Bibliotheken_Workshop_Bibliotheksschule.pdf'}
%article
	%header
		%h2 
			Web 2.0 - Social Network Services
	%aside
		&quot; Bibliotheken sind in den sozialen Netzwerken angekommen. &quot;
	%section
		%p 
			Der Vortrag wurde im Rahmen der Fortbildung
			=link_to 'Web 2.0 und Bibliothek', 'http://www.bsb-muenchen.de/Web-2-0-und-Bibliothek.3060.0.html',  :rel => 'nofollow'
		%p
			Inhalte des Vortrags sind:
			%ol
				%li Facebook, Google+, Twitter
				%li LinkedIn, Xing, YouTube, Slideshare, Librarything
				%li Derzeitiger Stand (November 2011) sozialer Netzwerke
				%li Prinzipielle Komponenten und Funktionsweisen sozialer Netzwerkdienste
				%li Einstieg in Twitter und Facebook (Live-Teil)
				%li Tipps zur sicheren Nutzung
				%li Seiten für Firmen und Institutionen auf Facebook und Google+ erstellen
				%li Wie sich Bibliotheken in sozialen Netzwerken darstellen (Schwerpunkt Facebook und Twitters)
		=render :partial =>'shared/download_file', :locals => {:file => 'vortrag/Soziale_Netzwerke_Workshop_Bibliotheksschule.pdf'}

%article
	%header
		%h2 
			Mobile OPACs - Perspektiven und Chancen.
	%aside
		&quot; Tablets, zwischen Smartphone und Desktopsystem. Großes Display, wie ein Desktopsystem, aber Bedienkonzepte aus der Smartphone-Welt. &quot;
	%section
		%p 
			Der Vortrag wurde im Rahmen des 
			=link_to '3. Schweizer OCLC-Infotags', 'http://www.oclc.org/de/de/enews/2011/20/de_03.htm',  :rel => 'nofollow'
			und des
			=link_to '5. Deutschen OCLC-Infotags', 'http://www.oclc.org/de/de/enews/2011/21/de_03.htm',  :rel => 'nofollow'
			gehalten.
		%p
			Inhalte des Vortrags sind:
			%ol
				%li Besonderheiten mobiler Geräte
				%li Anforderungen an eine mobile Anwendung. Was wollen Nutzer, was wollen Bibliotheken.
				%li Vergleich: App, WebApp, Neuentwicklung, Anpassung einer bestehenden Anwendung
				%li Umsetzung eines mobilen OPACs: Das Paket "Mobile OPAC"
				%li Beispiel: OPACplus mobile der Bayerischen Staatsbibliothek
				%li Neue Möglichkeiten, smartphoneoptimierte Anwendungen
				%li Marktentwicklung Smartphones: 2010 zu 2011
				%li Ausblick auf OPACs auf Tablet PCs (iPad, Android Honeycomb)
		=render :partial =>'shared/download_file', :locals => {:file => 'vortrag/Mobile_OPACs-Perspektiven_und_Chancen.pdf'}
		.clear
		%p
			Die Videos zu den Folien:
			%ul
				%li=link_to 'Folie 37 - Recherche im mobile OPAC', 'vortrag/video/OPACplus mobil - Recherche.m4v'
				%li=link_to 'Folie 38 - optimierter Bestellvorgang für Smartphones', 'vortrag/video/OPACplus mobil - Bestellvorgang.m4v'
				%li=link_to 'Folie 39 - Mehrsprachigkeit und Kontoverwaltung', 'vortrag/video/Kontoverwaltung_Mehrsprachigkeit.m4v'
				%li=link_to 'Folie 40 - Mashups - Wikipedia, Twitter, GoogleBooks', 'vortrag/video/Mashups.m4v'
				%li=link_to 'Folie 41 - Digitalisate auf dem Smartphone', 'vortrag/video/Digitalisate.m4v'
				%li=link_to 'Folie 53 - Locations Based Service - Erste Schritte Richtung Augmented Reality', 'vortrag/video/LBS.m4v'
%h1 
	Vorträge 2010
%article
	%header
		%h2 
			Mobile OPACs - Bayerische OPACs immer und überall.
	%aside
		&quot; Mobile OPACs in Bayern 21. In der Schweiz 1. &quot;
	%section
		%p 
			Der Vortrag wurde im Rahmen der Verbundkonferenz des 
			=link_to 'Bibliotheks Verbunds Bayeren (BVB)', 'http://www.bib-bvb.de/', :rel => 'nofollow'
			gehalten.
		%p
			Inhalte des Vortrags sind:
			%ol
				%li Anforderungen an einen mobilen OPAC
				%li Das Paket Mobile OPAC, Beschreibung und Arbeitsweise
				%li Der OPACplus mobil der Bayerischen Staatsbibliothek
				%li Der mobile OPAC des Gateway Bayern
				%li Mobile OPACs in Bayern
		=render :partial =>'shared/download_file', :locals => {:file => 'vortrag/MobilerOPAC_Verbundkonferenz_2010.pdf'}

%article 
	%header
		%h2 
			Der mobile OPAC der bayerischen Staatsbibliothek
	%section
		%p 
			Der Vortrag wurde zuerst auf dem Bibliothekarstag 2010 in Leipzig am Stand der Zukunftswerkstatt gehalten.
			In erweiterter Form wurde der Vortag dann auf der
			=link_to 'InetBib 2010', 'http://www.ub.tu-dortmund.de/inetbib2010/', :rel => 'nofollow'
			am 14.05.2010 im Audimax der ETH Zürich gehalten.
		%p
			Inhalte des Vortrags sind:
			%ol
				%li Anforderung an eine mobile Anwendung
				%li App, WebApp - Neuentwicklung oder Anpassung
				%li Umsetzung : Der OPACplus mobil der Bayerischen Staatsbibliothek
		=render :partial =>'shared/download_file', :locals => {:file => 'vortrag/MobilerOPAC_InetBib_2010.pdf'}

%p
	Vortäge im Bereich Erwachsenenbildung finden Sie auf meiner privaten Homepage:
	=link_to 'www.neumann.biz', 'http://www.neumann.biz/vortraege', :rel => 'nofollow'