%h1 
	Vorträge
%article
	%header
		%h2 
			Mobile OPACs - Bayerische OPACs immer und überall.
	%aside
		&quot; Mobile OPACs in Bayern 21. In der Schweiz 1. &quot;
	%section
		%p 
			Der Vortrag wurde im Rahmen der Verbundkonferenz des 
			=link_to 'Bibliotheks Verbunds Bayeren (BVB)', 'http://www.bib-bvb.de/'
			gehalten.
		%p
			Inhalte des Vortrags sind:
			%ol
				%li Anforderungen an einen mobilen OPAC
				%li Das Paket Mobile OPAC, Beschreibung und Arbeitsweise
				%li Der OPACplus mobil der Bayerischen Staatsbibliothek
				%li Der mobile OPAC des Gateway Bayern
				%li Mobile OPACs in Bayern
%article 
	%header
		%h2 
			Der mobile OPAC der bayerischen Staatsbibliothek
	%section
		%p 
			Der Vortrag wurde zuerst auf dem Bibliothekarstag 2010 in Leipzig am Stand der Zukunftswerkstatt gehalten.
			In erweiterter Form wurde der Vortag dann auf der
			=link_to 'InetBib 2010', 'http://www.ub.tu-dortmund.de/inetbib2010/'
			am 14.05.2010 im Audimax der ETH Zürich gehalten.
		%p
			Inhalte des Vortrags sind:
			%ol
				%li Anforderung an eine mobile Anwendung
				%li App, WebApp - Neuentwicklung oder Anpassung
				%li Umsetzung : Der OPACplus mobil der Bayerischen Staatsbibliothek