%h1 Websites
%p Von AN-iT entworfene Websites; ein kleiner Überblick.
%article
	%header
		%h2 PTN-GmbH
	%p 
		Die PTN-GmbH ist ein mittelständisches Unternehmen, welches im Bereich Außenwerbung tätig ist.
		Der Wunsch war eine pflegeneutrale und unaufwändige Webpräsenz.
		AN-iT hat eine Image-Seite konzipiert und diese ins Netz gebracht.
	%p=link_to 'PTN-GmbH', 'http://www.ptn-gmbh.org', :rel => 'nofollow'
	%p=image_tag 'websites/PTN-GmbH.png'