%h1 Websites
%p Von AN-iT entworfene Websites; ein kleiner Überblick.
%article
	%header
		%h2 PTN-GmbH
	%p 
		Image Seite mit Kontakt und Anfahrt.
	%p=link_to 'PTN-GmbH', 'http://www.ptn-gmbh.org', :rel => 'nofollow'
	%p=image_tag 'websites/PTN-GmbH.png'

%article
	%header
		%h2 Chor : SATB
	%p
		=image_tag 'websites/Chor_SATB.png'
		=link_to 'SATB', 'http://www.satb.info', :rel => 'nofollow'