%h1 
	Projekte
%article
	%header
		%h2 Volltextsuche und Pr채sentation
	%ul
		%li=link_to "Bayerische Staatsbibliothek:Volltxtsuche auf OCR-Texten mit Ergebnispr채sentation auf Originaldokumenten","/projects/VTA"
%article
	%header
		%h2 Mobile Development
	%ul
		%li=link_to "Bayerische Staatsbibliothek: OPAC plus mobil","/projects/BSB_OPAC_plus"
		%li=link_to "Stadtbibliothek Bremen: OPAC mobil","/projects/Stadtbibliothek_Bremen_OPAC_mobil"
		%li=link_to "Ruhr-Universit채t Bochum: OPAC der OPAC - Ruhr-Universit채t Bochum","/projects/RUBopac_mobil"