%header
	%h2
		Ruhr-Universität Bochum:
		=link_to 'RUBopac mobil', 'http://opac.ub.ruhr-uni-bochum.de/', :rel => 'nofollow'
	%section
		=image_tag 'ub-bochum-mobile.png', :class => 'projectPicture'
		%p Beratung bei der Einrichtung der mobilen Version des RUBopac. 
