%header
	%h1
		Stadbibliothek Bremen: 
		=link_to 'OPAC mobil', 'http://opac.stadtbibliothek.bremen.de/webOPACClient/start.do', :rel => 'nofollow'
%section
	=image_tag'stadtbibliothek-bremen-mobil.png', :class => 'projectPicture'
	%p Beratung bei der Einrichtung mobilen Version des OPACs der Stadtbibliothek Bremen. 
	%p Erstellen und Design der Grafiken für die iPhone-Web-App.
