%h1 
	Vortr채ge 2012

%ul
	%li=link_to 'Scala Workshop - Bayerische Staatsbibliothek' , 'vortrag/scala_workshop_bayerische_staatsbibliothek'
	%li=link_to 'Soziale Netzwerke effektiv Nutzen am Beispiel von Facebook, Twitter und Google' , 'vortrag/soziale_netzwerke_effektiv_nutzen_am_beispiel_von_facebook_twitter_und_google'
	
	

%h1 
	Vortr채ge 2011
%ul
	%li=link_to 'Soziale Netzwerke - Bezirksjugendwerk der AWO Westliches Westfalen' , 'vortrag/soziale_netzwerke_bezirksjugendwerk_der_awo_westliches_westfalen'
	%li=link_to 'Web 2.0 - Social Network Services' , 'vortrag/web_20_social_network_services'
	%li=link_to 'Web 2.0 in Bibliotheken' , 'vortrag/web_20_in_bibliotheken'
	%li=link_to 'Mobile OPACs - Perspektiven und Chancen.', 'vortrag/mobile_opacs_perspektiven_und_chancen'

%h1 
	Vortr채ge 2010
%ul
	%li=link_to 'Mobile OPACs - Bayerische OPACs immer und 체berall.','/vortrag/mobile_opacs_bayerische_opacs_immer_und_ueberall'
	%li=link_to 'Der mobile OPAC der bayerischen Staatsbibliothek','/vortrag/der_mobile_opac_der_bayerischen_staatsbibliothek'