%article
	%header
		%h2 Introduction to Scala - Clueda Edition
	%section
		%p
			The workshop aimed to introduce Scala 2.11 was held at
			=link_to 'Clueda AF','https://www.clueda.com/', :rel => 'nofollow'
		%p
			Contents
			%p=link_to 'Sourcefiles', '/vortrag/sources/introduction_to_scala_clueda_sources.zip'

		=render :partial =>'shared/download_file', :locals => {:file => '/vortrag/introduction_to_scala_clueda.pdf'}
