%article
	%header
		%h2 
			Mobile OPACs - Perspektiven und Chancen.
	%aside
		&quot; Tablets, zwischen Smartphone und Desktopsystem. Großes Display, wie ein Desktopsystem, aber Bedienkonzepte aus der Smartphone-Welt. &quot;
	%section
		%p 
			Der Vortrag wurde im Rahmen des 
			=link_to '3. Schweizer OCLC-Infotags', 'http://www.oclc.org/de/de/enews/2011/20/de_03.htm',  :rel => 'nofollow'
			und des
			=link_to '5. Deutschen OCLC-Infotags', 'http://www.oclc.org/de/de/enews/2011/21/de_03.htm',  :rel => 'nofollow'
			gehalten.
		%p
			Inhalte des Vortrags sind:
			%ol
				%li Besonderheiten mobiler Geräte
				%li Anforderungen an eine mobile Anwendung. Was wollen Nutzer, was wollen Bibliotheken.
				%li Vergleich: App, WebApp, Neuentwicklung, Anpassung einer bestehenden Anwendung
				%li Umsetzung eines mobilen OPACs: Das Paket "Mobile OPAC"
				%li Beispiel: OPACplus mobile der Bayerischen Staatsbibliothek
				%li Neue Möglichkeiten, smartphoneoptimierte Anwendungen
				%li Marktentwicklung Smartphones: 2010 zu 2011
				%li Ausblick auf OPACs auf Tablet PCs (iPad, Android Honeycomb)
		=render :partial =>'shared/download_file', :locals => {:file => '/vortrag/Mobile_OPACs-Perspektiven_und_Chancen.pdf'}
		.clear
		%p
			Die Videos zu den Folien:
			%ul
				%li=link_to 'Folie 37 - Recherche im mobile OPAC', '/vortrag/video/OPACplus mobil - Recherche.m4v'
				%li=link_to 'Folie 38 - optimierter Bestellvorgang für Smartphones', '/vortrag/video/OPACplus mobil - Bestellvorgang.m4v'
				%li=link_to 'Folie 39 - Mehrsprachigkeit und Kontoverwaltung', '/vortrag/video/Kontoverwaltung_Mehrsprachigkeit.m4v'
				%li=link_to 'Folie 40 - Mashups - Wikipedia, Twitter, GoogleBooks', '/vortrag/video/Mashups.m4v'
				%li=link_to 'Folie 41 - Digitalisate auf dem Smartphone', '/vortrag/video/Digitalisate.m4v'
				%li=link_to 'Folie 53 - Locations Based Service - Erste Schritte Richtung Augmented Reality', '/vortrag/video/LBS.m4v'
