%article
	%header
		%h2 Parallel Collections in Scala
	%section
		%p
			Kurze Übebrblick über die parallele Collections in Scala.
			Die Einführung gibt einen Rahmen und einen kurzen Überblick über
		%p
			%h4 Inhalte des Talks
			%ul
				%li Motivation für parallele Coellections in Scala
				%li zugrundeliegende Prinzipien
				%li Verwendung + Beispiele
				%li Fallstricke, häufige Feheler
				%li Fehlanannahmen
				%li Performance - Überlegungen
				%li Konfiguration
			
			
			
		=render :partial =>'shared/download_file', :locals => {:file => '/vortrag/scala_parallel_collections.pdf'}
