%article
	%header
		%h2 First steps in Scala
	%section
		%p
			Der Beginners Workshop f체r das Developer-Team der 
			=link_to 'Smarchive GmbH','https://www.smarchive.de/', :rel => 'nofollow'
		%p
			Geupdateter und verschlankter Workshop zum Einstieg in Scala.
			%h4 Themen des zweigeteilten Workshops
			%ul
				%li 
					Teil 1
					%ul
						%li Code ausf체hren / kompilieren
						%li Syntax
						%li Variablen und Values
						%li Funktionen / Methoden
						%li Kontrollstrukturen
						%li Collections (kurzer Auszug)
						%li Klassen, Traits und Objekte
			%ul
				%li 
					Teil 2
					%ul
						%li Pattern Matching
						%li Option[Type]
						%li XML erzeugen und bearbeiten
						%li Regul채re Ausdr체cke
						%li Parallele Collections
						%li Implicits
			
			
			
		=render :partial =>'shared/download_file', :locals => {:file => '/vortrag/smarchive_scala_initial.pdf'}
