%article
	%header
		%h2 
			Soziale Netzwerke - Bezirksjugendwerk der AWO Westliches Westfalen 
	%aside
		&quot; Facebook bietet alle Möglichkeiten um die eigene Privatsphäre zu schützen. Leider sind die Voreinstellungen mangelhaft und die Menüführung der Sicherheitseinstellungen komplex und wiedersprüchlich. &quot;
	%section
		%p 
			Der Workshop wurde im Rahmen einer Fortbildung des
			=link_to 'Bezirksjugendwerk der AWO Westliches Westfalen', 'https://www.facebook.com/bjwww',  :rel => 'nofollow'
			gehalten. Schwerpunkt ist der sichere und effektive Umgang mit Facebook, sowohl als Privatperson wie auch als Institution.
		%p
			Der Vortrag bietet:
			%ol
				%li 
					Einen Überblick über soziale Netzwerke und deren Funktionsweisen
					%ul
						%li Geschichte
						%li prinzipielle Funktionsweisen, typische Komponenten
						%li Überblick über bekannte Vertreter: Facebook, Twitter, Google+ , Foursquare und Youtube
				%li 
					Live-Teile / Übungen
					%ul
						%li Twitter: Einstieg in die Welt sozialer Netzwerke
						%li Facebook: Richtig anmelden
						%li Facebook: Erstellen eines Profils
						%li Facebook effektiv und sicher Nutzen mit Listen und Gruppen
						%li Facebook: Erstellen einer Veranstaltung
						%li Facebook: Erstellen einer Firmenseite / Fan-Page
				%li
					Privatsphäre, Sicherheit und Verhalten bei Problemen
					%ul
						%li Was sind personenbezogene Daten ?
						%li Grundsätzliche Gefahren im öffentlichen Raum
						%li Wie schütze ich meine Privatsphäre ?
						%li Wie verhalte ich mich bei Belästigung und Problemen in sozialen Netzwerken?
						%li Facebook: Konto- und Sicherheitseinstellungen
						%li Facebook: Blocken, Melden, Sperren oder miteinander reden. Möglichkeiten auf Belästigungen bei Facebook zu reagieren.
				%li
					Alternativen zu einigen Facbook-Funktionen
					%ul
						%li Terminabstimmung mit Doodle
						%li Medien teilen: Flickr und Youtube
						%li Aktuelle Meldungen mit Twitter
						
						

		=render :partial =>'shared/download_file', :locals => {:file => '/vortrag/Soziale-Netzwerke-AWO-BJWWW.pdf'}