%article
	%header
		%h2 Soziale Netzwerke effektiv Nutzen am Beispiel von Facebook, Twitter und Google
	%section
		%p
			Der Vortrag wurde an der 
			=link_to 'Bibliotheksschule der Bayerischen Staatsbibliothek','http://www.bib-bvb.de/bib_schule/bib_sch1.htm', :rel => 'nofollow'
			gehalten. Im Fokus stehen der effektive Umgang mit sozialen Netzwerken im Arbeitsalltag, Privatsphäre und Sicherheit.
		%p
			Der Vortrag gliedert sich in zwei große Blöcke mit folgenden Inhalten:
			%ol
				%li
					%p Block: Soziale Netzwerke als Privatanwender nutzen
					%ul
						%li Hintergründe
						%li Vorstellung der bekanntesten Vertreter
						%li Liveteile: Facebook und Twitter nutzen
						%li Privatsphäre und Sicherheit: Was ist zu beachten ?
				%li
					%p Block: Soziale Netzwerke im Arbeitsaltag und in der Institution nutzen
					%ul
						%li Fachkommunikation
						%li Soziale Netzwerke als Recruiting Instrument
						%li Firmenseiten / Firmenprofile
						%li Special-Interest-Netzwerke als Tools für den Arbeitsalltag
			
	
		=render :partial =>'shared/download_file', :locals => {:file => '/vortrag/Soziale-Netzwerke-effektiv-nutzen.pdf'}