%article
	%header
		%h2 
			Web 2.0 in Bibliotheken
	%aside
		&quot;Bibliotheken schaffen es bis jetzt nicht die kritische Masse an Nutzern zur aktiven Beteiligung an eigenen Projekten zu bewegen. Was tun? &quot;
	%section
		%p 
			Der Vortrag wurde im Rahmen der Fortbildung
			=link_to 'Web 2.0 und Bibliothek', 'http://www.bsb-muenchen.de/Web-2-0-und-Bibliothek.3060.0.html',  :rel => 'nofollow'
		%p
			Inhalte des Vortrags sind:
			%ol
				%li Ein exemplarischer Einblick in eine Web2.0-lastige Bibliotheksanwendung 
				%li
					Typische Web2.0 Features in bibliotheksnahen Anwendungen und Anwendungen für bibliophile Nutzer, wie:
					%ul
						%li Tagging
						%li Rating / Bewertungen / Renzensionen
						%li Empfelungssysteme auf crwodsourcing-basis
						%li deep information / besondere Informationen
				%li
					Spezielle Aspekte, wie
					%ul
						%li Geoinformationen
						%li mobile Versionen der Kataloge
				%li
					Quellen für Mashups
					%ul
						%li Überblick
						%li mit Links im Vortrag
					
		=render :partial =>'shared/download_file', :locals => {:file => '/vortrag/Web20_in_Bibliotheken_Workshop_Bibliotheksschule.pdf'}