%article
	%header
		%h2 
			Web 2.0 - Social Network Services
	%aside
		&quot; Bibliotheken sind in den sozialen Netzwerken angekommen. &quot;
	%section
		%p 
			Der Vortrag wurde im Rahmen der Fortbildung
			=link_to 'Web 2.0 und Bibliothek', 'http://www.bsb-muenchen.de/Web-2-0-und-Bibliothek.3060.0.html',  :rel => 'nofollow'
		%p
			Inhalte des Vortrags sind:
			%ol
				%li Facebook, Google+, Twitter
				%li LinkedIn, Xing, YouTube, Slideshare, Librarything
				%li Derzeitiger Stand (November 2011) sozialer Netzwerke
				%li Prinzipielle Komponenten und Funktionsweisen sozialer Netzwerkdienste
				%li Einstieg in Twitter und Facebook (Live-Teil)
				%li Tipps zur sicheren Nutzung
				%li Seiten für Firmen und Institutionen auf Facebook und Google+ erstellen
				%li Wie sich Bibliotheken in sozialen Netzwerken darstellen (Schwerpunkt Facebook und Twitters)
		=render :partial =>'shared/download_file', :locals => {:file => '/vortrag/Soziale_Netzwerke_Workshop_Bibliotheksschule.pdf'}
