%article
	%header
		%h2 YouTrack - Ein paar Tips
	%section
		%p
			Talk zum Ticketsystem
			=link_to "Youtrack", "http://www.jetbrains.com/youtrack/index.jsp" ,:rel => 'nofollow'
			von
			=link_to "Jetbrains", "http://www.jetbrains.com/" ,:rel => 'nofollow'
			mit Schwerpunkt auf Filterfunktionen.
		%p
			%h4 Inhalte des Talks
			%ul
				%li Suche: Suchsyntax, Shortcuts, Filter
				%li Anzeigemodi
				%li Tickets anlegen
				%li Agile Board
				%li Adding Tags
				%li Coole Features
				%li Suche: Suchsyntax, Shortcuts, Filter
			
			
			
		=render :partial =>'shared/download_file', :locals => {:file => '/vortrag/youtrack.pdf'}
