%footer{:id => "page_footer"}
	%nav
		%ul
			%li=link_to 'Home', root_path
			%li=link_to 'Kontakt', kontakt_path
	%section{:id => "cr"}
		&copy; Andreas Neumann, AN-iT 2011
	%section{:id => "adresse"}
		#org
			AN-iT
		#adr
			#street-address Wagerstraße 10
			.postal-code 85635
			.locality Höhenkirchen
			#country-name Deutschland
	.clear