%header{:id => "page_header"}
	=link_to image_tag("AN-iT-Logo.png"), root_path
	%nav
		%ul
			%li=link_to 'Home', root_path
			%li=link_to 'Projekte', projekte_path
			%li=link_to 'Vorträge', vortraege_path
			%li=link_to 'Kontakt',  kontakt_path