!!! 5
!!!
%html
	%head
		%title AN-IT.com
		= stylesheet_link_tag :all
		= javascript_include_tag :defaults
	%body
		%header{:id => "page_header"}
			%h1 AN-iT
			%nav
				%ul
					%li Test
					%li Test2
		%section{:id => "main_section"}
			=yield
		%footer{:id => "page_footer"}
			%nav
				%ul
					%li Test
					%li Test2
			%section{:id => "cr"}
				#hcard-Andreas-Neumann{:class =>'vcard'}
					.fn Andreas Neumann
					#org AN-iT
					.email{:href=> 'mailto:andreas.neumann@an-it.com">andreas.neumann@an-it.com'}
					.adr
						.street-adress Wagerstraße 10
						.locality Höhenkirchen
						.postal-code 85635
						.contry-name Deutschland
		
