!!! 5
!!!
%html
	%head
		%title AN-IT.com
		= stylesheet_link_tag :all
		= javascript_include_tag :defaults
	%body
		%section{:id => 'page'}
			%header{:id => "page_header"}
				=image_tag "AN-iT-Logo.png"
				%nav
					%ul
						%li=link_to 'Home', 'home'
						%li=link_to 'Kontakt', 'kontakt'
						%li=link_to 'Impressum', 'impressum'
			%section{:id => "main_section"}
				=yield
			%footer{:id => "page_footer"}
				%nav
					%ul
						%li=link_to 'Home', 'home'
						%li=link_to 'Kontakt', 'kontakt'
						%li=link_to 'Impressum', 'impressum'
				%section{:id => "cr"}
					&copy; Andreas Neumann 2011
				%section{:id => "adresse"}
					#hcard-Andreas-Neumann{:class =>'vcard'}
						#org AN-iT
						.email{:href=> 'mailto:info@an-it.com">andreas.neumann@an-it.com'}
						.adr
							.street-adress Wagerstraße 10
							.locality Höhenkirchen
							.postal-code 85635
							.contry-name Deutschland
				#clear
